@import url(./config.css);

body {
    background-color: var(--black);
}

section > div {
    height: 50vh;
}
#bg-gray {
    background-color: var(--dark1);
}
#bg-black {
    background-color: var(--dark2);
}

img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);    
    min-width: 220px;
    width: 20%;
    animation: tranlateUnDraw infinite 3s alternate;
}

@keyframes tranlateUnDraw {
    from{
        transform: translate(-50%, -48%);
    }
    to {
        transform: translate(-50%, -52%);
    }
}

h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    position: absolute;
    color: var(--white);
    font-size: 1.7rem;
    text-align: center;
}

#thanks {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#soon {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

