@import url(./config.css);

header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 0 7rem;
    box-sizing: border-box;
    color: white;
    height: 60px;
    background-color: #161616;
    border-bottom: 1px solid rgba(255, 255, 255, 0.034);
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header #title {
    font-size: 1.9rem;
    white-space: nowrap;
    letter-spacing: -1px;
    word-spacing: 2px;
}

header #title::before{
    content: "< ";
}



header #title::after {
    content: " />";
}

ul {
    display: flex;
    gap: 25px;
}

.link-nav {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #CCC;
    position: relative;
    padding: 5px 0;
}

.link-nav::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #D76A03;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;

}

.link-nav:hover::after {
    width: 100%;
}

section.welcome {  
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #161616;
    color: white;
}



section.welcome #comprimento {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

section.welcome h1#name {
    margin: 10px 0;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.219);
}

section.welcome #subTitle {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

@keyframes blink {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section.welcome #subTitle::after {
    content: ' |';
    animation: blink .7s infinite ;
}

.orangeLetter {
    color: #D76A03;
}

#btn-CV {
    cursor: pointer;
    margin-top: 30px;
    padding: 20px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #D76A03;
    color: #D76A03;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s ease-in-out;
}

#btn-CV:hover {
    background-color: #D76A03;
    color: #2b2b2b;
}

#unDraw {
    min-width: 300px;
    width: 35%;
    animation: tranlateUnDraw infinite 3s alternate;
}

@keyframes tranlateUnDraw {
    from{
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

#aboutMe {
    background-color: #121212;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}


#aboutMe p {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 500px;
    margin: 50px 0;
    line-height: 30px;
    font-weight: 200;
    font-size: 1.4rem;
}

span#bluePYT {
    color: #2A7EB2;
}
span#yellowTHO {
    color: #FBD35A;
}

#aboutMe picture img{
    width: 350px;
    border-radius: 50%;
    border: 1px solid black;
}

.projects {
    height: 100vh;
    width: 100%;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.projects h1#titleProjects {
    text-align: center;
    font-size: 2.6rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;
}

.allCard {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    width: 300px;
    height: 420px;
    padding: 15px;
    box-shadow: 0px 0px 7px #00000054;
}

.card picture img {
    height: 175px;
}

.card img {
    border-radius: 10px;
    width: 100%;
}

.card h1 {
    margin: 10px auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #D76A03;
}

.card p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 20px;
    margin: 30px auto;
    color: white;
    font-weight: bold;
}

.btnsProject {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnsProject a {
    color: #000;
    text-decoration: none;
}

.btnsProject button:first-child {
    color: #000;
    background-color: #D76A03;

}

.btnsProject button:last-child {
    color: white;
}

.btnsProject .repo a {
    color: white;
}


.btnsProject button {
    transition: .2s ease-in-out;
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid #D76A03;
    background-color: transparent;
    padding: 7px 10px;
    font-size: 1.2rem;
}

.repo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.repo img {
    width: 20px;
}


.btnsProject button:hover {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.295);
}

#soon {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}


.skills {
    background: #121212;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.skillsImg {
    height: max-content;    
    width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.skillsImg > div {
    width: max-content;
    height: max-content;
    background-color: #161616;
    padding: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.404);
    cursor: pointer;
    transition: .8s ease;
}

.skillsImg > div:hover {
    box-shadow: 0px 0px 3px #d76903;
}



.skillsImg img {
    width: 100px;
}

.titleMain {
    font-size: 2.7rem;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.dot::before {
    content: '.';
    font-size: 5rem;
    position: relative;
    bottom: 10px;
    right: 8px;
    color: #D76A03;

}


.titleNameLinguage {
    margin-top: calc(50px - 1.6rem);
    width: max-content;
    font-size: 1.6rem;
    color: #d76903;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.mainP {
    margin-top: calc(50px - 1.6rem);
    width: 400px;
    font-size: 1.6rem;
    color: #969696;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-weight: 300;
}



.contact {
    height: 50vh;
    background-color: #161616;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.contact form input{
    display: block;
}

.contact input, .contact textarea {
    border-radius: 7px;
    border: 1px solid black;
    width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
    background-color: #2b2b2b;
    color: white;
}

.contact input:focus::-webkit-input-placeholder,
.contact textarea:focus::-webkit-input-placeholder{
    color: transparent;
}

.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
    font-size: 0.9rem;
}
.contact input,
.contact textarea {
    border: none;
    outline: none;
}


#btnSubmit {
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: 2px solid #D76A03;
    color: white;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 1rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    transition: .2s ease-in-out;
}

#btnSubmit:hover {
    background-color: #D76A03;
    color: #2b2b2b;

}

.svgMidias {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}
.icon-svg-midia {
    width: 40px;
}


/* Menu Header */

#btn-mobile {
    display: none;
}


@media screen and (max-width: 1000px) {
    header {
        border: none;
    }

    header nav #list {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 1000;
        top: 60px;
        left: 0;
        background: #2b2b2b;
        height: 0px;
        transition: .4s;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    nav.active #list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.7rem;
        height: calc(100vh - 60px);
        visibility: visible;
        overflow-y: auto;
    }

    #list li {
        padding: 1rem 0;
        margin: 0 2rem;
        text-align: center;
        font-size: 1.7rem;
    }

    .link-nav {
        font-size: 1.7rem;
        padding-bottom: 10px;
    }


    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburguer {
        color: white;
        width: 30px;
        border-top: 3px solid;
        transform: rotate(180deg);
    }
    #hamburguer::after{
        margin-top: 5px;
        content: '';
        display: block;
        width: 40px;
        height: 3px;
        background: currentColor;
        transition: .3s ease-in-out;
    }

    #hamburguer::before {
        margin-top: 5px;
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background-color: #D76A03;
        transition: .3s ease-in-out;
    }

    nav.active #hamburguer{
        border-top-color: transparent;
    }

    nav.active #hamburguer::before {
        width: 30px;
        transform: rotate(135deg);
    }

    nav.active #hamburguer::after {
        width: 30px;
        transform: rotate(-135deg);
        position: relative;
        top: -8px;
    }
}

@media screen and (max-width: 720px) {
    header {
        padding: 0 3rem;
    }

    .contact .mainP {

        width: 80% !important;
        margin: 30px auto;
    }


}


@media screen and (max-width: 450px) {
    header {
        padding: 0 1rem;
    }
}



/* Responsivo */



@media screen and (max-width: 1125px) {
    .projects {
        height: 200vh;
    }
    .contact {
        text-align: center;
        height: max-content;
        flex-direction: column;
        padding: 30px 0 ;
    }

    .midias {
        width: 100%;
    }

    .midias .mainP {
        width: 100%;
    }

    .contact .svgMidias {
        justify-content: center;
        min-width: max-content;
    }

}

@media screen and (max-width: 1100px) {
    section.welcome {
        height: max-content;
        padding: 90px 0;
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
    }

    #aboutMe {
        text-align: center;
        height: max-content;
        flex-direction: column;
        padding: 40px 0 ;
    }

    #aboutMe img {
        width: 50% !important;
    }

    #soon, #titleProjects {
        margin: 100px auto;
    }


    .skills {
        height: max-content;
        text-align: center;
        flex-direction: column;
        padding: 50px 0;
    }

    .skillsImg{
        width: max-content;
    }
}



@media screen and (max-width: 734px) {
    section.welcome #name {
        font-size: 4rem !important;
        margin: 35px auto !important;
    }


    .projects {
        height: max-content;
        padding: 50px 0;
    }

    form input, form textarea {
        width: 300px !important;
    }

    .contact button {
        margin: auto;
    }

    #aboutMe p {
        margin: 30px auto;
        width: 50%;
        min-width: 250px !important;
    }
}

@media screen and (max-width: 600px)  {

    .skills {
        height: max-content;
    }

    .skills article {
        width: 100%;
    }

    .skills article * {
        width: 100%;
    }

    .skillsImg {
        grid-template-columns: 1fr 1fr;
        width: max-content;
        gap: 50px;
    }
}